.section-up{
	min-height:550;
	background:white;
}
.form-background{
	background:#FFCCCC;
	margin-top:120px;
	margin-bottom:10px;
	padding-top:10px;
	
}
h3{
	color:white;
}
h2{
	
	padding-top:20px;
	padding-left:500px;
	color: green;
	
}
.form-background >h3{
	text-align:center;
}
.form-item{
	margin-bottom:10px;
}
.upload-avatar{
	margin-top:15px;
}
.reset{
	text-align:right;
}
.btn-up{
	padding:12px 38px;
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:2px;
	background:#FF0000;
	color:white;
	border:none;
	outline:none;
	display:table;
	cursor:pointer;
	margin:15px auto 31px;
}
